
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
    font-style: normal;

}


/* header section */
.header{
    background: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px; 
    text-align: right;
}

.h1{
    font-weight: 800;
    font-size: 95px;
    
    
}
.banner{
    padding: 180px 250px;
    margin-left: 100px;
    color: #FFFFFF;
    
}

.banner-description{
    color: #FFFFFF;
    font-weight: 400px ;
    font-size: 16px;
    padding-bottom: 10px;
}

.btn-primary {
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: none;
    padding: 20px 30px;
}



/* failures section */

.my-failures{
    display: flex;
    width: 1072px;
    height: 723.3px;
    top: 1039px;
    left: 206px;
    padding-top: 131px;
    padding-left: 190px;
}


.failure-1{
    padding: 180px 168px 390px 225px;
}

.failures-reson{
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    line-height: 47px;
    color: #151414;
    padding-bottom: 28px;
}

.failures-description{
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 38px;
    color: #444343;
}

.failure-2{
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
}
.failure-2 li{
    list-style: none;
}
.failure-2 i{
    color:rgb(152, 211, 152);
}
.failure-3{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}


/* my plans */


/* my plan section styles */
.my-plan{
    padding-bottom: 130px;
}
.my-plan h2{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
    padding-bottom: 50px;
}
.my-plan-record{
    display: flex;
    gap: 100px;
    text-align: center;
    padding: 0px 430px;
}
.my-plan-record h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #151414;
}
.my-plan-record p{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #737272;
}

/* mindset */

.btn{
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    line-height: 23px;
    border-radius: 5px;
    border: none;
}

.mindset-title{
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.mindset{
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("../images/watch.png");
    margin: 130px 230px;
    
     
    
}

.positive{
    padding: 59px 64px;
}

/* footer */

footer{
    height: 577px;
    background-color: black;
}

.footer-1{
    float: left;
    padding: 130px 230px 0 230px;
    height: 577px;
    width: 485px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

.future{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;

}

.f-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

.footer-2{
    float: left;
    padding-top: 130px;
    width: 325px;
    height: 577px;
}

.subscribe{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}

.footer-2 input{
    width: 325px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    padding-left: 21px;
}

.footer-2 button {
    margin-top: 16px;
    width: 170.11px;
    height: 64px;
    left: 1046px;
    top: 2921.96px;
    background: #005FAC;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}





